* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    
    text-align: center;
    line-height: 1.5;

}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-12, .col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-12, .col-6 {
  width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #000066;
    color: white;
    height: 70px;
    text-align: center;
    padding-top: 10px
  }

  h1 {
      font-size: 1.75em;
  }

  h1, h2, h3, .headline, nav li a {
    font-family: 'Stylish', sans-serif;
  }

  h1, h2, h3, span a, span a:visited, p a, p a:visited {
      color: #000066;
  }

  h2 {
      margin-bottom: 35px;
  }

  a:hover {
    text-decoration: underline;
  }

  nav li a, nav li a:visited, footer a, footer a:visited {
      color: white;
  }

  footer {
    background-color: #000066;
    color: white;
    height: 25px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      display: inline-block;
      padding-right: 1em;
  }

  img {
      width: 250px;
      height: 200px
  }

  .headline {
      margin-top: 110px;
      margin-bottom: 30px;
  }

  .headline2 {
      margin-top: 30px;
  }

  article {
    border: 1px gray solid;
    margin-bottom: 1.5em;
    padding: 1em;
  }

  a {
      text-decoration: none;
  }

  .anchor {
    display: block;
    padding-top: 35px;
  }

  @media only screen and (min-width: 710px) {
    .headshot {
        width: 600px;
        height: 450px;
    }

    .creatures {
        width: 600px;
        height: 319px;
    }

    .con {
        width: 600px;
        height: 297px;
    }

    .show {
        width: 600px;
        height: 320px;
    }

    section p, section span article p, article span, .headline2 {
        font-size: 1.25em;
    }
  
    .headline2 {
        font-size: 1.5em;
    }

    h1, h2 {
        font-size: 2em;
    }
  
    h3 {
        font-size: 1.75em;
    }

    nav {
        font-size: 1.5em;
        padding-top: 15px;
    }

    footer {
        font-size: 1.15em;
        height: 40px;
    }
}

@media only screen and (min-width: 470px) and (max-width: 709px) {
    
    nav {
        padding-top: 20px;
    }
}